
<button type="button" class="btn btn-primary elevation-3 form-control-lg" data-toggle="modal" data-target="#modal-create">
	 Add Employee
</button>

<div class="modal fade" id="modal-create">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add Employee</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/admin/save" method="post" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label class="col-form-label">First Name</label> 
							<input type="text" class="form-control" placeholder="First Name"
								   id="firstName" name="firstName" required="required">
						</div>

						<div class="col-md-6 mb-3">
							<label class="col-form-label">Last Name</label> <input
								type="text" class="form-control" placeholder="Last Name"
								id="lastName" name="lastName" required="required">
						</div>
                    </div>
						<div class="col-md-12 mb-3">
							<label class="col-form-label">Email</label> <input type="text"
								class="form-control" placeholder="Email" id="email" name="email"
								required="required">
						</div>

						<div class="col-md-12 mb-3">
						     <label class="col-form-label">Image</label>
							 <input accept="image/*" type='file' id="imgInp" name="photo" class="form-control"/>
						</div>
						
						 <div class="col-md-12 mb-3">
							<img id="imgPre" class="elevation-3"/>
					    </div>

						<div class="modal-footer">
							 <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							 <button class="btn btn-outline-secondary" type="submit">Submit</button>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
imgInp.onchange = evt => {
	  const [file] = imgInp.files
	  if (file) {
	    imgPre.src = URL.createObjectURL(file);
	    imgPre.style.width = '150px';
	    imgPre.style.height = '100px';
	    imgPre.style.borderRadius = '5px';
	  }
	}
</script>  



